
/* BOX MODEL  */
* {
    box-sizing: border-box;
    background-color: #FFCE30;
    color: navy;
}

/* LAYOUT */

img {
    display: block;
    margin: 0 auto;
    height: 200px;
}

h1 {
    color: white;
}