
/* BOX MODEL  */
* {
    box-sizing: border-box;
    background-color: #FFCE30;
    color: navy;
}

/* LAYOUT */

.card {
    background-color: #fdf5bf;
    border: 1px solid #982649;
    padding: 8px;
    border-radius: 14px;

}

img {
    display: block;
    margin: 0 auto;
    height: 200px;
    border-radius: 50%;
    border: 5px solid navy;
}

h1 {
    color: white;
}

h4 {
    width: 200px;
}