
/* BOX MODEL  */
* {
    box-sizing: border-box;
    background-color: #FFCE30;
    color: navy;
    font-family: 'Quicksand', sans-serif;
    margin: auto;

}

/* LAYOUT */

.search {
    width: 23%;
    margin: auto;
}

.card {
    background-color: #fdf5bf;
    border: 1px solid #982649;
    padding: 8px;
    border-radius: 14px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 300px;

}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    cursor: pointer;
  }

img {
    display: block;
    margin: 0 auto;
    height: 210px;
    border-radius: 50%;
    border: 5px solid green;
}


h1 {
    color: navy;
    text-align: center;
    font-weight: semi-bold;
}

h2 {
    text-align: center;
}

h4 {
    width: 350px;
    text-align: left;
    text: 12px;
}

button {
    cursor: pointer;
    padding: 6px;
    border-radius: 10%;

}

button:hover {
    border-color: #99ffcc;
    border-width: 2px;
}

//colors:
// teal: #25a1b3 (websafe: 3399cc)
//purple-blue: #3300cc (web safe)
